.banner {
    background: rgb(255,151,0);
    background: linear-gradient(0deg, rgb(255, 162, 36) 0%, rgb(255, 192, 99) 100%);
    color: white;
    margin-bottom: 100px;
}

.banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.banner-text {
    max-width: 50%;
}

.banner-text h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.banner-text p {
    font-weight: 500;
    max-width: 75%;
    margin-bottom: 50px;
}

.start-finding-button {
    color: var(--main-orange);
}