.we-made-it-simple {
    margin-bottom: 70px;
}


.top-row {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 60px;
}

.top-row .description {
    padding-right: 40px;
}

.bottom-row {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row-reverse;
}


.bottom-row .description {
    order: 1;
    padding-left: 40px;
}

.description h4 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 45px;
    opacity: 0.8;
}

.top-row img, .bottom-row img {
    box-shadow: var(--card-shadow);
}


.description ul {
    display: flex;
    /*height: 100%;*/
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
}

.description ul li {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 12px;
}

.description ul li p {
    color: gray;
}

.description ul li p span {
    font-weight: 600;
    color: black;
    opacity: 0.7;
}

.description ul li svg {
    /*flex-basis: 20px;*/
}