.header {
    font-size: 12px;
    height: 64px;
    position: fixed;
    top: 0;
    width: 96vw;
    background: none;
    z-index: 5;
    color: white;
    transition: 0.35s ease all;
}

.header > div {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}


.logo {
    transform: rotateZ(45deg);
}

.nav ul {
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
}

.scrolled-header {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    color: black;
    width: 100%;
    box-shadow: var(--card-shadow);
}

.scrolled-header > div > img {
    filter:  hue-rotate(135deg) saturate(200%) brightness(1);
}

.scrolled-header .log-in {
    color: var(--main-orange);
}